{% extends 'frontend/base.html.jinja2' %}

{% block title %}Help - CIPSecure{% endblock %}

{% block content %}
<div class="container mx-auto p-4 mt-16">
    <h1 class="text-2xl font-bold mb-4">Help</h1>
    <p class="text-gray-700">This is the help page for CIPSecure. Here you can find information and support for using the application.</p>
    <!-- Additional help content can be added here -->
</div>
{% endblock %}
