<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}{% endblock %}
    <title>{% block title %}Aegis Analytica{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
    {% include 'frontend/_navbar.html.jinja2' %}
    <div class="container mx-auto mt-16">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
